html{
    background-color: rgb(71, 12, 20);
    height: auto;
    width: 100%;
}

body{
    width: 95%;
    height: auto;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(173, 125, 73);
}

div[class^="col-"]{
    float: left;
}

div.row:after{
    clear: both;
    content: "";
    display: table;
}

nav.horizontalNavigation{
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: bla;
}

nav.horizontalNavigation a{
    display: block;
    text-align: center;
    text-decoration: none;
}

div.col-1-5{width: 20%}